@{
    ViewData["Title"] = "Manage Users";
}


<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Users List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <table id="userData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th class="text-start">Phone Number</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


@section Scripts {
    <script src="~/js/user.js"></script>
}
