@model RentedListVM

@{
    ViewData["Title"] = "Rented List";
}



<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Your Rented Game List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        @(Model?.UserPackage != null ?
            @Html.Raw($@"
                <h6 class='text-dark text-opacity-75 fw-medium text-center mt-1 mb-4'>
                    You have subscribed
                    <span class='text-secondary fw-semibold'>{@Model.UserPackage.SubscriptionPackage.PackageName}</span>
                    package and your subscription is valid for
                    <span class='text-secondary fw-semibold'>{@Model.UserPackage.TotalSubscriptionMonths}</span>
                    months.
                </h6>
            ")
            :
            @Html.Raw($@"
                <h6 class='text-danger fw-medium text-center mt-1 mb-4'>
                    You have not subscribed any package yet.
                </h6>
            ")
        )
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-12 text-center mb-2">
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i>&nbsp; Rent A New Game
                </a>
            </div>
        </div>

        <table id="rentedGamesData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Game Name</th>
                    <th class="text-center">Rented Date</th>
                    <th class="text-center">Expiry Date</th>
                    @*@if (@Model?.UserPackage?.SubscriptionPackage?.PackageName != "Basic")
                {*@
                    <th class="text-center">Actions</th>
                    @*}*@
                </tr>
            </thead>
        </table>
    </div>
</div>



<script>
    var subscriptionPackage = '@Model?.UserPackage?.SubscriptionPackage?.PackageName';
</script>

@section Scripts {
    <script src="~/js/rentedGameList.js"></script>
}
