@model List<SubscriptionPackage>
@{
    ViewData["Title"] = "Subscription Packages List";
}


<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white">Subscription Packages List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="SubscriptionPackage" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Add New Package
                </a>
            </div>
        </div>

        <table id="packagesData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Package Name</th>
                    <th>Games Per Month</th>
                    <th>Rent New Released Game</th>
                    <th>Max Replacements Per Month</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


@section Scripts {
    <script src="~/js/subscriptionPackage.js"></script>
}
