@model GameRatingVM
@{
    ViewData["Title"] = "Rate & Review";
}


<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center pt-2">
                <h3 class="text-white">Rate and Review Your Rented Game by Sharing Your Experience</h3>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="ShoppingCart.Id" hidden />

            <h5 class='text-dark text-opacity-75 fw-medium text-center mt-1 mb-4'>
                Game.Title
            </h5>

            <div class="row">
                <div class="col-12">
                    <div class="border p-3">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="GameRating.Rating" class="form-control border-0 shadow" min="0" max="5" />
                            <label asp-for="GameRating.Rating" class="ms-2"></label>
                            <span asp-validation-for="GameRating.Rating" class="text-danger"></span>
                        </div>
                        <div class="py-2 col-12">
                            <label asp-for="GameRating.Review" class="ms-2 text-muted"></label>
                            <textarea asp-for="GameRating.Review" class="form-control border-0 shadow"></textarea>
                        </div>
                        <div class="row pt-2">
                            <div class="col-6 col-md-3">
                                <button type="submit" class="btn btn-primary form-control">Submit</button>
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="UserPackage" asp-action="RentedList" class="btn btn-outline-secondary border form-control">
                                    Back to List
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>




@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons lists table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent',
        });
    </script>

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
